In [1]:
import pandas as pd

## 1. Criar DataFrames com Base nos Datasets

### DF Customers

In [13]:
#Carregar dados do dataframe
df_customers = pd.read_csv('./datasets/churn_customers.csv')
print(df_customers)

      customerID  gender  SeniorCitizen Partner Dependents
0     7590-VHVEG  Female              0     Yes         No
1     5575-GNVDE    Male              0      No         No
2     3668-QPYBK    Male              0      No         No
3     7795-CFOCW    Male              0      No         No
4     9237-HQITU  Female              0      No         No
...          ...     ...            ...     ...        ...
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

[7043 rows x 5 columns]

In [14]:
#Mostra os 5 primeiros registros

df_customers.head(5)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [15]:
#Mostra os 5 ultimos registros
df_customers.tail(5)

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [16]:
#Mostra Estrutura / Schema de dataframe

df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

### DF SERVICE

In [9]:
df_services = pd.read_csv('./datasets/churn_services.csv')
print(df_services)

      customerID PhoneService     MultipleLines InternetService  \
0     7590-VHVEG           No  No phone service             DSL
1     5575-GNVDE          Yes                No             DSL
2     3668-QPYBK          Yes                No             DSL
3     7795-CFOCW           No  No phone service             DSL
4     9237-HQITU          Yes                No     Fiber optic
...          ...          ...               ...             ...
7038  6840-RESVB          Yes               Yes             DSL
7039  2234-XADUH          Yes               Yes     Fiber optic
7040  4801-JZAZL           No  No phone service             DSL
7041  8361-LTMKD          Yes               Yes     Fiber optic
7042  3186-AJIEK          Yes                No     Fiber optic

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
0                No          Yes               No          No          No
1               Yes           No              Yes          No          No
2               Yes          Yes               No          No          No
3               Yes           No              Yes         Yes          No
4                No           No               No          No          No
...             ...          ...              ...         ...         ...
7038            Yes           No              Yes         Yes         Yes
7039             No          Yes              Yes          No         Yes
7040            Yes           No               No          No          No
7041             No           No               No          No          No
7042            Yes           No              Yes         Yes         Yes

     StreamingMovies
0                 No
1                 No
2                 No
3                 No
4                 No
...              ...
7038             Yes
7039             Yes
7040              No
7041              No
7042             Yes

[7043 rows x 10 columns]

In [10]:
#Mostra os 5 primeiros registros
df_services.head(5)
#Mostra os 5 ultimos registros
df_services.tail(5)
# Informções sobre colunas e Schema
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

### DF CONTRATACTS

In [11]:
df_contracts = pd.read_csv('./datasets/churn_contracts.csv')
print(df_contracts)

      customerID  tenure        Contract PaperlessBilling  \
0     7590-VHVEG       1  Month-to-month              Yes
1     5575-GNVDE      34        One year               No
2     3668-QPYBK       2  Month-to-month              Yes
3     7795-CFOCW      45        One year               No
4     9237-HQITU       2  Month-to-month              Yes
...          ...     ...             ...              ...
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges TotalCharges Churn
0              Electronic check           29.85        29.85    No
1                  Mailed check           56.95       1889.5    No
2                  Mailed check           53.85       108.15   Yes
3     Bank transfer (automatic)           42.30      1840.75    No
4              Electronic check           70.70       151.65   Yes
...                         ...             ...          ...   ...
7038               Mailed check           84.80       1990.5    No
7039    Credit card (automatic)          103.20       7362.9    No
7040           Electronic check           29.60       346.45    No
7041               Mailed check           74.40        306.6   Yes
7042  Bank transfer (automatic)          105.65       6844.5    No

[7043 rows x 8 columns]

In [12]:
#Mostra os 5 primeiros registros
df_contracts.head(5)
#Mostra os 5 ultimos registros
df_contracts.tail(5)
# Informções sobre colunas e Schema
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

## 2. Transformção de Dados

In [17]:
# Transforma coluna totalcharges de string para float - Abordagem 1 com astype
df_contracts['TotalCharges'] = df_contracts['TotalCharges'].astype(float)

ValueError: could not convert string to float: ' '

Esse erro ocorrer pq tem um campo vazio ou com espaço, se fosse uma string com numero ele faria a conversão normal!

In [18]:
# Transforma coluna totalcharges de string para float - Abordagem 2 com to_numeric
df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'])

ValueError: Unable to parse string " " at position 488

Mesma situação da primeira!

In [20]:
# Transforma coluna totalcharges de string para float - Abordagem 3 
# com to_numeric com coerce
df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'], errors='coerce')
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

Após a transformação da coluna totalcharges do dataframe, a coluna passou a ter 11 valores ausentes (missing values)

## 3. Renomear Colunas

In [21]:
df_customers.rename(columns={ 'SeniorCitizen' : 'Above65yo'})

      customerID  gender  Above65yo Partner Dependents
0     7590-VHVEG  Female          0     Yes         No
1     5575-GNVDE    Male          0      No         No
2     3668-QPYBK    Male          0      No         No
3     7795-CFOCW    Male          0      No         No
4     9237-HQITU  Female          0      No         No
...          ...     ...        ...     ...        ...
7038  6840-RESVB    Male          0     Yes        Yes
7039  2234-XADUH  Female          0     Yes        Yes
7040  4801-JZAZL  Female          0     Yes        Yes
7041  8361-LTMKD    Male          1     Yes         No
7042  3186-AJIEK    Male          0      No         No

[7043 rows x 5 columns]

In [23]:
# Criar um dataframe novo com base nas collunas renomeadas
df_customers_renamed = df_customers.rename(columns={ 'SeniorCitizen' : 'Above65yo'})
df_customers_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [24]:
# Aplicar o resultado do rename no proprio dataframe
# User inplace=True
df_customers.rename(columns={ 'SeniorCitizen' : 'Above65yo'}, inplace=True)
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [32]:
# Rename usando lista - Modificar os nome de colunas
# Por posição

df_customers.columns = [
    'IDCliente',
    'Genereo',
    'Mais65Anos',
    'Cadaso',
    'TemDependentes'
]

df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IDCliente       7043 non-null   object
 1   Genereo         7043 non-null   object
 2   Mais65Anos      7043 non-null   int64
 3   Cadaso          7043 non-null   object
 4   TemDependentes  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

## 4. Unificando Datasets

### Unificar Dataframes de Customers, Services e Contracts

In [26]:
# Contar Dataframes
len(df_customers)

7043

In [27]:
# Contar Dataframes
len(df_services)

7043

In [28]:
# Contar Dataframes
len(df_contracts)

7043

In [29]:
# Renovar colunas
df_services.rename(columns={'customerID' : 'IDCliente'}, inplace=True)
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [33]:
#Unificar Dataframe de Customers com Services, criando um terceiro dataframe.

df_temp = df_customers.merge(df_services, on=['IDCliente'])

df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genereo           7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   Cadaso            7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
dtypes: int64(1), object(13)
memory usage: 770.5+ KB

In [34]:
# Unificar df_temp com contracts, usando colunas de junção com nomes distintos.

df_churn_temp = df_temp.merge(df_contracts, left_on=['IDCliente'], right_on=['customerID'])

df_churn_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genereo           7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   Cadaso            7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  customerID        7043 non-null   object
 15  tenure            7043 non-null   int64
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [36]:
# Unificar os trés datafrma ao mesmo tempo, com colunas com nomes diferentes

df_churn = df_customers.merge(df_services, on=['IDCliente']).merge(df_contracts, left_on=['IDCliente'], right_on=['customerID'])
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genereo           7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   Cadaso            7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  customerID        7043 non-null   object
 15  tenure            7043 non-null   int64
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [37]:
# Removendo coluna de dataframe 

# axis=0 - Alterações em Linhas
# axis=1 - Alterações em Colunas
df_churn.drop(['customerID'], axis=1, inplace=True)

df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genereo           7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   Cadaso            7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  tenure            7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB